/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #838994;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* BEGIN REMOVE SECTION */

body {
    background: LightGray;
}

div {
    outline: 1px solid Black;
}

/* END REMOVE SECTION */

.top-navigation {
    background: #fff;
}

.content {
    padding: 0 15px;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.top-navigation .content > .logo {
    height: 70px;
}

.top-navigation .links {
    float: right;
    margin-top: 25px;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 30px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    color: #4c5058;
    cursor: pointer;
}

.splash {
    position: relative;
}

.intro {
    color: #fff;
    font-weight: lighter;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}

.intro-title {
    font-size: 48px;
}

.intro-text {
    font-size: 24px;
    margin: 20px auto;
}

.intro-button {
    background-color: #ff6600;
    border-radius: 5px;
    font-size: 20px;
    width: 150px;
    margin: 0 auto;
    padding: 15px 15px;
    cursor: pointer;
}

.splash img {
    width: 100%;
}